@import url('https://fonts.googleapis.com/css?family=Boogaloo|Annie+Use+Your+Telescope|Luckiest+Guy|Nanum+Brush+Script|Special+Elite');

/* tulabg: https://steamuserimages-a.akamaihd.net/ugc/813306660768792771/CE4D98D423DAFE680A69F75F5F597CE2073DFE60/; */
/* https://steamuserimages-a.akamaihd.net/ugc/858351671568574310/4284377E69FA6F85E6E1AD33659E7342BA739B1B/ */
/* https://i.pinimg.com/originals/13/33/95/133395b5a067374035a5efbe0d898667.gif */
/* euthanasia: http://papers.co/wallpaper/papers.co-nn30-space-aurora-night-sky-red-color-8-wallpaper.jpg */
#P1{
	background-image: url("wal4.jpg");
	background-attachment: scroll;	
	background-size: contain;
}

#P2{
	background-image: url("wal4.jpg");
	background-attachment: scroll;	
	background-size: cover;
}

#P3{
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/858351671568574310/4284377E69FA6F85E6E1AD33659E7342BA739B1B/);
	background-attachment: scroll;	
	background-size: contain;
}

#P4{
	background-image: url("wal9.png");
	background-attachment: scroll;	
	background-size: contain;

}

#P5{
	background-color: black;
	color: white;

}

#P5 div{
	border-color: red;
	border-style: dotted;
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;	

}

	
#title{
	margin-top: 1%;
	margin-right: 1%;
	margin-left: 1%;
	padding: .5%;
	background-color: red;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	font-size: 200%;
    font-family: 'Special Elite', cursive;
    font-weight: 100;
    /*box-shadow:0px 20px 10px grey; */ 
}

#content{
	margin-top: 1%;
	margin-right: 10%;
	margin-left: 10%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	text-align: justify;
	padding-right: 1%;
	padding-left: 1%;
	font-weight: 200;
	letter-spacing: ;
	/*box-shadow:20px 20px 20px 10px grey; */
}

#refs{
	margin-top: ;
	margin-right: 1%;
	margin-left: 1%;
	padding: .5%;
	background-color: red;
	background-color: rgba(255,255,255,0.5);
	text-align: left;
	font-size: 200%;
    font-weight: 100;
    
}

#refs p{
	text-indent: 0;
	font-size: 55%;

}

#content3 p{
	color: white;
	text-align: center;
	font-family: 'Nanum Brush Script', cursive; 
	font-size: 150%;
	font-weight: 100;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#title3 {
	font-family: 'Annie Use Your Telescope', cursive; 
	background-color: transparent;
	text-align: center;
	color: white;
	font-size: 200%;
	font-weight: 100;
	color: red;

}
p{
	text-indent: 5%;
	font-size: 150%;
	font-family: "Times New Roman", sans serif;
	font-weight: 100;


}


ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#diff{
	background-image: url("wal7.png");

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
    text-decoration: none;
}


.active {
    background-color: red;
}
